* {    
    margin: 0;    
    padding: 0;    
    font-family: 
    "Poppins", sans-serif;
}

.log-container{
    min-width: 65vw;
}

.remoteVideoDesktop {
    width: 640px;
    height: 480px;
}

@media (max-width: 770px) {
    .remoteVideoDesktop {
        width: 480px;
        height: 360px;
    }
}

@media (max-width: 500px) {
    .remoteVideoDesktop {
        width: 319px;
        height: 240px;
    }

    .remoteVideoMobile {
        width: 360px;
        height: 480px;
    }

    .controls {
        gap: 3px;
    }
}

.log-info {
    color: #fff;
}

.log-error {
    color: red;
}

.log-warning {
    color: orange;
}

.video-sec{
    display: flex;
    flex-direction: column;
}

